<div id="sidebar"  class="region-sidebar">
    {% if content %}
    <div class="sidebar-content">
        <button class="openbtn" onclick="toggleSidebar()"><i class="material-icons md-36">compare_arrows</i> Search&nbsp;Articles</button>
        {{ content }}
    </div>
    {% endif %}
</div>
