<div class="region-content">
    {% if content %}
    <div class="content-content">
        {{ content }}
    </div>
    {% endif %}
    {% set url = url('<current>') %}
    {% if 'archives' in url|render|render %}
        {{ include('form-element.html.twig') }}
    {% endif %}
</div>
