/**
 * LAYOUT
 *
 * This is the global styling for the whole site.
 * Here is where you put anything that effects all the blocks that hold the content.
 * Example: Global grid layout for the whole site.
 * DO NOT add CSS the only effects a specific page, region, or block
 */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Raleway");
@import url("https://fonts.googleapis.com/css?family=Spectral");
/*$heading-fonts: 'Open Sans', sans-serif;
$paragraph-fonts: 'Lato', sans-serif;*/
/* Heading and body properties */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Raleway");
@import url("https://fonts.googleapis.com/css?family=Spectral");
/* line 17, ../scss/_fonts.scss */
h1, h1 a {
  font-family: "Raleway", sans-serif;
  color: #f1f1f1;
  letter-spacing: .1em;
}

/* line 23, ../scss/_fonts.scss */
h2 {
  font-family: "Spectral", sans-serif;
}

/* line 27, ../scss/_fonts.scss */
p {
  font-family: "Helvetica", "Crimson Text", sans-serif;
}

/* line 14, ../scss/layout.scss */
.global-container {
  display: flex;
  min-height: 100vh;
  flex-flow: row wrap;
  text-align: center;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  background-color: #f1f1f1;
}

/* line 24, ../scss/layout.scss */
.global-container > * {
  margin: 0;
  padding: 0;
  flex: 1 100%;
}

/* line 30, ../scss/layout.scss */
.region-header {
  background-color: #3c3c3c;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

/* line 38, ../scss/layout.scss */
.region-navbar {
  background-color: #c3c3c3;
  border-bottom: 2px solid #3c3c3c;
}
/* line 41, ../scss/layout.scss */
.region-navbar .menu {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  text-align: center;
}
/* line 47, ../scss/layout.scss */
.region-navbar .menu .menu-item a {
  text-decoration: none;
  padding: 0.2rem 2rem;
  border: 2px solid black;
  background: #289ec4;
  color: black;
}

/**
 TODO:
 Hide the sidebar unless on an article page.
*/
/* line 66, ../scss/layout.scss */
.region-content {
  background-color: white;
}

/* line 70, ../scss/layout.scss */
.region-footer {
  background-color: #3c3c3c;
}

/**
 TODO: 
 Configure Responsive font sizes.
*/
@media all and (min-width: 600px) {
  /* line 81, ../scss/layout.scss */
  .region-navbar .menu {
    justify-content: space-around;
  }
  /* line 84, ../scss/layout.scss */
  .region-navbar .menu .menu-item a {
    padding: 0.5rem 2rem;
  }
}
@media all and (min-width: 800px) {
  /* line 100, ../scss/layout.scss */
  .region-navbar .menu {
    justify-content: space-around;
    flex-flow: row-reverse;
  }
  /* line 104, ../scss/layout.scss */
  .region-navbar .menu .menu-item a {
    padding: 0.7rem 5rem;
  }

  /* line 110, ../scss/layout.scss */
  .region-content {
    flex: 4 0px;
    min-height: 90vh;
    margin-left: 25%;
    margin-right: 25%;
  }
  /* line 111, ../scss/layout.scss */
  .region-content .node__content {
    text-align: justify;
    font-size: 24px;
  }

  /* line 121, ../scss/layout.scss */
  .region-content {
    order: 1;
  }

  /* line 122, ../scss/layout.scss */
  .region-footer {
    order: 2;
  }
}
/**
 * HEADER
 *
 * Put in any header specific styling.
 * Anything that effect elements INSIDE the header region.
 *
 * Note: this will not effect the actual header region, only the blocks inside it.
 * See layout.css for global styling options.
 */
/*$heading-fonts: 'Open Sans', sans-serif;
$paragraph-fonts: 'Lato', sans-serif;*/
/* Heading and body properties */
/* line 17, ../scss/_fonts.scss */
h1, h1 a {
  font-family: "Raleway", sans-serif;
  color: #f1f1f1;
  letter-spacing: .1em;
}

/* line 23, ../scss/_fonts.scss */
h2 {
  font-family: "Spectral", sans-serif;
}

/* line 27, ../scss/_fonts.scss */
p {
  font-family: "Helvetica", "Crimson Text", sans-serif;
}

/* line 24, ../scss/_header.scss */
.site-branding {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 3px;
  padding: 0;
  max-width: 100vw;
}

/* line 35, ../scss/_header.scss */
.site-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  /* line 45, ../scss/_header.scss */
  h1 a {
    text-decoration: none;
    font-size: 9vw;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 600px) {
  /* line 54, ../scss/_header.scss */
  h1 a {
    font-size: 8.9vw;
  }
}
@media screen and (min-width: 800px) {
  /* line 59, ../scss/_header.scss */
  h1 a {
    font-size: 11vh;
  }
}
@media all and (min-width: 800px) {
  /* line 69, ../scss/_header.scss */
  .site-branding {
    flex-flow: row-reverse;
    align-items: baseline;
  }
}
/**
 * NAVBAR
 *
 * Any styling that effects the blocks within the Navbar regions should go here.
 *
 * For global styling see layout.css
 */
/**
 * CONTENT
 *
 * Any styling that effects the blocks with the Content regions should go here.
 * Content is things such as articles, books, interviews. Anything that fills most of the page.
 * For global styling see layout.css
 */
/* line 11, ../scss/_content.scss */
.field--name-body {
  margin: 0;
  padding-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 18, ../scss/_content.scss */
.page-title {
  color: black;
  margin-bottom: 0;
  padding-bottom: 20px;
}

/* line 24, ../scss/_content.scss */
.node__content {
  text-align: justify;
}

/* line 28, ../scss/_content.scss */
.node__links, .field--name-field-author, .field--name-field-publication, .field--name-field-date {
  text-align: center;
}

/* line 33, ../scss/_content.scss */
#content {
  transition: margin-left .5s;
  /* If you want a transition effect */
}

/* line 41, ../scss/_content.scss */
.block-page-title, .form--inline {
  text-align: center;
  background: #bfbfbf;
}

/**
 * FOOTER
 *
 * Any styling that effects the blocks with the Footer regions should go here.
 *
 * For global styling see layout.css
 */
