/*
** Breakpoints

** Main breakpoints: 320px, 800px, 1385px


** explore breakpoints at 540px for mobile devices.

*/
@import url("https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display:700,700i");
/* Heading and body properties */
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400i");
@import url("https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display:700,700i");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400i");
/* line 14, ../scss/_fonts.scss */
h1 {
  font-family: "Playfair Display", serif;
  color: #f1f1f1;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .1em;
}

@media screen and (min-width: 320px) {
  /* line 23, ../scss/_fonts.scss */
  h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 800px) {
  /* line 28, ../scss/_fonts.scss */
  h1 {
    font-size: 44.422px;
  }
}
@media screen and (min-width: 1385px) {
  /* line 33, ../scss/_fonts.scss */
  h1 {
    font-size: 56.832px;
  }
}
/* line 39, ../scss/_fonts.scss */
h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
  font-family: "Playfair Display", serif;
  color: #3c3c3c;
  line-height: 1.3;
  font-weight: 700;
  font-style: italic;
}

/* line 46, ../scss/_fonts.scss */
h2, h2 a {
  font-size: 31.25px;
}
@media screen and (min-width: 1385px) {
  /* line 46, ../scss/_fonts.scss */
  h2, h2 a {
    font-size: 45px;
  }
}

/* line 52, ../scss/_fonts.scss */
h3, h3 a {
  font-size: 17px;
  text-transform: uppercase;
}

/* line 56, ../scss/_fonts.scss */
h4, h4 a {
  font-size: 17px;
}

/* line 61, ../scss/_fonts.scss */
p {
  font-family: "PT+Serif", serif;
  color: #3c3c3c;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  /* line 61, ../scss/_fonts.scss */
  p {
    font-size: 21px;
  }
}

/* line 71, ../scss/_fonts.scss */
li a {
  font-family: "Playfair Display", serif;
  color: #3c3c3c;
}

/* line 76, ../scss/_fonts.scss */
p i {
  font-style: italic;
}

/**
 * LAYOUT
 *
 * This is the global styling for the whole site.
 * Here is where you put anything that effects all the blocks that hold the content.
 * Example: Global grid layout for the whole site.
 * DO NOT add CSS the only effects a specific page, region, or block.
 */
/* line 13, ../scss/layout.scss */
.global-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
}
@media all and (min-width: 320px) {
  /* line 13, ../scss/layout.scss */
  .global-container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2em);
    max-width: 540px;
  }
}
@media all and (min-width: 800px) {
  /* line 13, ../scss/layout.scss */
  .global-container {
    width: calc(100% - 10em);
    max-width: 738px;
  }
}

/* line 38, ../scss/layout.scss */
.global-container > * {
  margin: 0;
  padding: 0;
  flex: 1 100%;
}

/* line 45, ../scss/layout.scss */
.region-header {
  background-color: #3c3c3c;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 54, ../scss/layout.scss */
.region-navbar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #a3a3a3;
  border-bottom: 2px solid #3c3c3c;
  max-width: 100%;
}

/* line 65, ../scss/layout.scss */
.region-content {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  max-width: 100vw;
}
/* line 73, ../scss/layout.scss */
.region-content h1 {
  text-align: center;
  color: #000000;
}

/* line 80, ../scss/layout.scss */
.region-footer {
  background-color: #3c3c3c;
}

/**
 TODO: 
 Configure Responsive font sizes.
*/
@media all and (min-width: 360px) {
  /* line 91, ../scss/layout.scss */
  .region-navbar .menu {
    justify-content: space-around;
    flex-fow: row;
  }
  /* line 95, ../scss/layout.scss */
  .region-navbar .menu .menu-item a {
    padding: 0.5rem 2rem;
  }
}
@media all and (min-width: 800px) {
  /* line 104, ../scss/layout.scss */
  .region-navbar .menu {
    justify-content: space-between;
    flex-flow: row;
  }

  /* line 109, ../scss/layout.scss */
  .region-content {
    flex: 3 0px;
    min-height: 90vh;
  }

  /* line 113, ../scss/layout.scss */
  .region-content {
    order: 1;
  }

  /* line 116, ../scss/layout.scss */
  .region-footer {
    order: 2;
  }
}
@media all and (min-width: 1200px) {
  /* line 123, ../scss/layout.scss */
  .region-navbar .menu {
    justify-content: space-around;
    flex-flow: row;
  }
  /* line 127, ../scss/layout.scss */
  .region-navbar .menu .menu-item a {
    padding: 0.6rem 5rem;
  }
}
/**
 * HEADER
 *
 * Put in any header specific styling.
 * Anything that effect elements INSIDE the header region.
 *
 * Note: this will not effect the actual header region, only the blocks inside it.
 * See layout.css for global styling options.
 */
/* Heading and body properties */
/* line 14, ../scss/_fonts.scss */
h1 {
  font-family: "Playfair Display", serif;
  color: #f1f1f1;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .1em;
}

@media screen and (min-width: 320px) {
  /* line 23, ../scss/_fonts.scss */
  h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 800px) {
  /* line 28, ../scss/_fonts.scss */
  h1 {
    font-size: 44.422px;
  }
}
@media screen and (min-width: 1385px) {
  /* line 33, ../scss/_fonts.scss */
  h1 {
    font-size: 56.832px;
  }
}
/* line 39, ../scss/_fonts.scss */
h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
  font-family: "Playfair Display", serif;
  color: #3c3c3c;
  line-height: 1.3;
  font-weight: 700;
  font-style: italic;
}

/* line 46, ../scss/_fonts.scss */
h2, h2 a {
  font-size: 31.25px;
}
@media screen and (min-width: 1385px) {
  /* line 46, ../scss/_fonts.scss */
  h2, h2 a {
    font-size: 45px;
  }
}

/* line 52, ../scss/_fonts.scss */
h3, h3 a {
  font-size: 17px;
  text-transform: uppercase;
}

/* line 56, ../scss/_fonts.scss */
h4, h4 a {
  font-size: 17px;
}

/* line 61, ../scss/_fonts.scss */
p {
  font-family: "PT+Serif", serif;
  color: #3c3c3c;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  /* line 61, ../scss/_fonts.scss */
  p {
    font-size: 21px;
  }
}

/* line 71, ../scss/_fonts.scss */
li a {
  font-family: "Playfair Display", serif;
  color: #3c3c3c;
}

/* line 76, ../scss/_fonts.scss */
p i {
  font-style: italic;
}

/* line 15, ../scss/_header.scss */
.align-center {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* line 28, ../scss/_header.scss */
.site-name a {
  text-decoration: none;
}
@media screen and (min-width: 1385px) {
  /* line 27, ../scss/_header.scss */
  .site-name {
    font-size: 55px;
  }
}

@media screen and (min-width: 1000px) {
  /* line 39, ../scss/_header.scss */
  .site-logo {
    flex-direction: row;
  }

  /* line 43, ../scss/_header.scss */
  .site-branding {
    flex-flow: row;
    align-items: center;
  }
}
/**
 * NAVBAR
 *
 * Any styling that effects the blocks within the Navbar regions should go here.
 *
 * For global styling see layout.css
 */
/* line 11, ../scss/_navbar.scss */
ul.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 5px 0;
  padding: 0;
}

/* line 20, ../scss/_navbar.scss */
.menu-item, .menu-item a {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

/* line 33, ../scss/_navbar.scss */
.menu-item a {
  display: block;
}

@media screen and (max-width: 599px) {
  /* line 38, ../scss/_navbar.scss */
  .menu-item:hover {
    background-color: #3c3c3c;
    min-width: 95vw;
  }
}
@media screen and (min-width: 600px) {
  /* line 52, ../scss/_navbar.scss */
  ul.menu {
    justify-content: space-evenly;
    flex-direction: row;
  }

  /* line 56, ../scss/_navbar.scss */
  .menu-item, .menu-item a {
    font-size: 25px;
  }
}
/**
 * CONTENT
 *
 * Any styling that effects the blocks with the Content regions should go here.
 * Content is things such as articles, books, interviews. Anything that fills most of the page.
 * For global styling see layout.css
 */
/* line 11, ../scss/_content.scss */
.field--name-body {
  margin: 0;
}

/* line 16, ../scss/_content.scss */
article {
  display: flex;
  max-width: 100vw;
  margin: 0 15px;
  flex-direction: column;
}

/* line 23, ../scss/_content.scss */
article p {
  flex-direction: column;
}

/* line 29, ../scss/_content.scss */
.tabs {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  max-width: 100vw;
}

/* line 38, ../scss/_content.scss */
.node__content {
  display: flex;
}

@media screen and (min-width: 320px) {
  /* line 47, ../scss/_content.scss */
  article h2 {
    text-align: center;
  }
}
@media screen and (min-width: 760px) {
  /* line 52, ../scss/_content.scss */
  article h2 {
    text-align: left;
  }
}
@media screen and (min-width: 320px) {
  /* line 57, ../scss/_content.scss */
  .align-right {
    display: block;
    float: none;
    justify-content: center;
    width: 230px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 700px) {
  /* line 67, ../scss/_content.scss */
  .align-right {
    float: right;
    width: 220px;
    margin-left: 15px;
  }
}
/**
 * FOOTER
 *
 * Any styling that effects the blocks with the Footer regions should go here.
 *
 * For global styling see layout.css
 */
