//###########################
// Colors
//All website colors should be stored here as variables and included into other files.
// Use use a variable name that matches the color. Example: #ffffff would be $white.

// Body
$light-white: #edeae0;

// Border covers
$turquoise: #289ec4;

// Header, Footer, Content Text color
$dark-grey: #3c3c3c;

// Navbar
$grey: #c3c3c3;

// Content Background
$offwhite: #f1f1f1;

// Sidebar
$mid-grey: #bfbfbf;

// Contact Me Form - WILL BE CHANGED
$form-submit: #4caf50;
$form-input: #ccc;
$form-container: #f2f2f2;


// End Colors
//###########################
