/**
 * Content
 *
 * Any styling that effects the blocks with the Content regions should
 * go here.  Content is things such as articles, books, interviews.
 * Anything that fills most of the page.
 *
 * For global styling see layout.css
 */

img {
	height: auto;
	max-width: 100%;
}

a,
a:visited {
	// typography
	color: $turquoise-dark;
	// decoration
	text-decoration-color: $turquoise;
	text-decoration-skip: ink;

	&:hover {
		// typography
		color: $rust;
		// decoration
		text-decoration-color: currentcolor;
	}

	&:focus {
		// typography
		color: $azure;
		// decoration
		text-decoration: none;
	}

	&:active {
		// typography
		color: $azure;
		// decoration
		text-decoration: underline;
		text-decoration-color: $turquoise-light;
	}
}

input,
select,
textarea {
	// box model
	border: 1px solid $grey;
	margin-bottom: 1em;
	padding: 0.25em 1ch;
	width: 100%;
	max-width: 100%;
	// decoration
	border-radius: 2px;

	&:focus {
		border-color: $turquoise;
	}
}

input[type="button"],
input[type="submit"],
button {
	width: auto;
}

.tabs {
	// box model
	max-width: 100vw;
	// layout
	align-content: center;
	display: flex;
	justify-content: space-evenly;
}

.view-content {
	align-content: flex-start;
	align-items: baseline;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

//Specific to Spotlight block on front page
.view-spotlight > .view-content {
	justify-content: flex-start;
}

.align-right {
	// What happens to these elements below 320px? -jkm

	@media screen and (min-width: 320px) {
		// box model
		margin: 0 auto;
		width: 230px;
		// layout
		display: block;
		float: none;
		justify-content: center;
	}

	@media screen and (min-width: 700px) {
		// box model
		margin-left: 15px;
		width: 220px;
		// layout
		float: right;
	}
}

// Article headings on list page
.views-field-title {
	// layout
	display: block;
	float: left;
	// typography
	@include large-type;
	font-family: $display;

	@media all and (min-width: 800px) {
		@include xxlarge-type;
	}
}

/*.field--name-field-author {
    We might want to give this field a nice custom style. It's the author byline on an article. Leave this here, commented out, for now (or give it a custom style). -jkm
}*/

.views-field-field-publication {
	@media all and (min-width: 320px) {
		display: block;
		float: left;
	}

	@media all and (min-width: 800px) {
		float: left;
	}
}

.views-field-body {
	// layout
	display: block;
	float: left;
	// typography
	font-family: $text;

	@media all and (min-width: 320px) {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

// Images in articles
.article-img {
	border: 1px solid $dark-grey;
}

// Books content
.row-books {
	// box model
	max-width: 220px;
	// layout
	display: block;
}

/* Book cover image */
figure img {
	// box model
	border: 3px solid $turquoise;
}

/* Book cover for content page */
.field--name-field-book-cover > img {
	// box model
	border: 2px solid $turquoise;
	margin: 0 auto 2em;
	// layout
	display: block;
}

.field--name-field-authors {
	// box model
	margin: 0 0 1em 2ch;
	max-width: calc(50% - 1ch);
	// layout
	float: right;
}

/**
 * Fonts for book section.
 *
 * All titles in the book list page are set to h2.
 * They are modified through CSS to make them fit better.
 */
.row-books h2 {
	// box model
	margin-top: 0.1em;
	margin-bottom: 7px;
	// typography
	@include base-type--desktop;
}

// Search form in Articles page.

.view-filters {
	// box model
	border-top: 2px solid $turquoise-dark;
	border-bottom: 2px solid $turquoise-dark;
	// layout
	display: flex;
	flex-direction: column;
}

.form--inline {
	align-content: space-evenly;
	align-items: flex-end;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.views-exposed-form label {
	font-family: $display;
}

.form-select {
	// box model
	height: 1.8em;
	// typography
	@include small-type;
	font-family: $ui-face;
	text-align: center;
}

.form-text {
	// box model
	margin-bottom: 0.5em;
	// typography
	@include small-type;
	font-family: $ui-face;
}

.button {
	// box model
	margin-top: 0;
	margin-bottom: 0.5em;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	// layout
	align-self: flex-end; // trying self to see if the button can fit closer in the style
	// typography
	@include small-type;
	color: $offwhite;
	font-family: $ui-face;
	text-align: center;
	// decoration
	background-color: $turquoise-dark;
	border-radius: 1ch;

	&:hover {
		background-color: $dark-grey;
		transition: background-color 0.05s ease-in-out;
	}
}