/**
 * CONTENT
 *
 * Any styling that effects the blocks with the Content regions should go here.
 * Content is things such as articles, books, interviews. Anything that fills most of the page.
 * For global styling see layout.css
 */

@import 'colors';

.field--name-body {
    margin: 0;
    padding-top: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

.page-title {
    color: black;
    margin-bottom: 0;
    padding-bottom: 20px;    
}

.node__content {
    text-align: justify;
}

.node__links, .field--name-field-author, .field--name-field-publication, .field--name-field-date{
    text-align: center;
}


#content {
    transition: margin-left .5s; /* If you want a transition effect */
}

// .adjust {
//     margin-left: 0%;
// }

.block-page-title, .form--inline {
    text-align: center;
    background: $mid-grey;
}
