//###########################
// Fonts
// Fonts used by Stephanie Coontz site


@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Raleway');
@import url('https://fonts.googleapis.com/css?family=Spectral');

/*$heading-fonts: 'Open Sans', sans-serif;
$paragraph-fonts: 'Lato', sans-serif;*/

/* Heading and body properties */
$display: 'Raleway', sans-serif; 
$text: 'Helvetica', 'Crimson Text', sans-serif;
$test: 'Spectral', sans-serif;

h1, h1 a {
    font-family: $display;
    color: $offwhite;
    letter-spacing: .1em;
}

h2 {
    font-family: $test;
}

p {
    font-family: $text;
}