/**
 * Fonts
 *
 * Fonts on this website follow a modular scale.
 * Mobile font size: 16px
 * Desktop font size: 21px
 * --Where does the 31px number come from? -jkm
 * Size ratio: 1.333 (perfect 4th)
 * https://www.modularscale.com/?16,31&px&1.333
 */

/* Heading and body properties */

body {
    font-family: $text;
    color: $dark-grey;
    line-height: 1.4;

    @media screen and (min-width: 800px) {
        font-size: 21px;
    }
}

h1 {
    font-family: $display;
    color: $dark-grey;
    font-size: initial;
    font-style: italic;
    font-weight: 700;
    line-height: 1;

    @media screen and (min-width: 320px) {
        font-size: 32px;
    }

    @media screen and (min-width: 800px) {
        font-size: 44.422px;
    }

    @media screen and (min-width: 1385px) {
        font-size: 56.832px;
    }
}

.page-title {
    color: $dark-grey;
}

// Link text size will inherit from its parent (and if it's not, you've done something wrong), so you don't need to set the heading size AND the link size within the heading. -jkm
h2,
h3,
h4,
h5,
h6 {
    font-family: $display;
    color: $dark-grey;
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-size: 31.25px;

    @media screen and (min-width: 1385px) {
        font-size: 45px;
    }
}

h3 {
    font-size: 17px;
    text-transform: uppercase;
}

h4 {
    font-size: 17px;
}

h1 a,
h2 a,
h3 a,
h4 a {
    color: $dark-grey;
    text-decoration: none;
}
