/**
 * FOOTER
 *
 * Any styling that effects the blocks with the Footer regions should go here.
 *
 * For global styling see layout.css
 */

/* Footer content */
.footer-content .menu {
	// box model
	padding: 0.5em;
	// layout
	flex-flow: column wrap;
	justify-content: space-evenly;
 }