/**
 * FOOTER
 *
 * Any styling that effects the blocks with the Footer regions should go here.
 *
 * For global styling see layout.css
 */

/* Footer content */
.footer-content .menu {
    justify-content: space-evenly;
    flex-flow: column wrap;

    padding: 0.5em;
 }