/**
 * HEADER
 *
 * Put in any header specific styling.
 * Anything that effect elements INSIDE the header region.
 *
 * Note: this will not effect the actual header region, only the blocks inside it.
 * See layout.css for global styling options.
 */


.align-center {
    display: flex;
    justify-content: center;
    align-content: center;

    margin: 0;
    padding: 0;

    max-width: 100%;
}


.site-name {
    a {
        text-decoration: none;
    }
    // font-size: 20px;
    @media screen and (min-width: 1385px) {
        font-size: 55px;
    }
}


@media screen and (min-width: 1000px){
    .site-logo {
        flex-direction: row;
    }

    .site-branding {
        flex-flow: row;
        align-items: center;
    }
}
