/**
 * HEADER
 *
 * Put in any header specific styling.
 * Anything that effect elements INSIDE the header region.
 *
 * Note: this will not effect the actual header region, only the blocks inside it.
 * See layout.css for global styling options.
 */

.region-header {
    background-color: $offwhite;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.site-branding {

		@media all and (min-width: 1385px) {
        flex-flow: row;
        align-items: center;
    }
}

.site-name {
	  // Inherits styles from h1

    @media all and (min-width: 1385px) {
        font-size: 55px;
    }
}

.site-name a {
    text-decoration: none;
}

/* Header logo */
.site-logo {

		@media all and (min-width: 1385px) {
        flex-direction: row;
    }
}

.site-logo img {
    height: auto;
    max-width: 100%;
}