/**
 * LAYOUT
 *
 * This file contains the style for the site's layout structure. Here is
 * where you put anything that effects all the blocks that hold the content.
 *
 * Example: Global grid layout for the whole site.
 * DO NOT add CSS that only affects a specific page, region, or block.
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* > * {
	box-sizing: inherit;
}

body {
	background-color: $turquoise-light;
}

.global-container {
	// box model
	border-right: 2px solid $turquoise;
	border-left: 2px solid $turquoise;
	min-height: 100vh;
	// layout
	display: flex;
	flex-direction: column;

	// Gobal container widths at breakpoints
	@media all and (min-width: 320px) {
		margin-right: auto;
		margin-left: auto;
		max-width: 540px;
	}

	@media all and (min-width: 800px) {
		width: calc(100% - 10em);
		max-width: 738px;
	}
}

.global-container > * {
	margin: 0;
	padding: 0;
}

.region-content {
	// layout
	flex: 1;
	// decoration
	background-color: $tint;

	@media all and (min-width: 800px) {
		order: 1;
	}
}

.content-content {
	margin: 2em 2ch;

	@media all and (min-width: 800px) {
		margin: 0 4ch;
	}
}

.region-footer {
	// box model
	padding: 0.5em;
	width: 100%;
	// decoration
	background-color: $turquoise-dark;

	@media all and (min-width: 800px) {
		order: 2;
	}
}

.views-row {
	// box model
	margin-top: 1em;
	margin-bottom: 0.5em;
	width: 100%;
	// layout
	display: flex;
	flex-direction: column;
}

.views-field-title {
	// box model
	margin-top: 1em;
	// layout
	align-content: space-evenly;
	justify-content: flex-start;
}

.spotlight-rows {
	// box model
	border-bottom: 2px solid $mid-grey;
	margin: 0;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	// layout
	display: flex;
	flex-direction: column;
}