/**
 * NAVBAR
 *
 * Any styling that effects the blocks within the Navbar regions should go here.
 *
 * For global styling see layout.css
 */

.system-main-menu {
    width: 100%;
}

.region-navbar {
    background-color: $turquoise-dark;
    border-bottom: 2px solid $turquoise;
}

ul.menu {  // Scoped to ul to override core theme CSS
    // box model
    margin: 5px 1ch;
    padding: 0;
    // layout
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    // list
    list-style-type: none;

    @media screen and (min-width: 320px) {
        justify-content: space-evenly;
        flex-direction: row;
    }
}

.menu .menu-item {
    // box model
    margin: 0;
    padding: 0;
    // typography
    font-size: 16px;
    // line-height: 1.3;
    text-align: center;

    @media screen and (min-width: 600px) {
        font-size: 23.256px;
    }
}

.menu .menu-item > a {
    // box model
    padding: 0.15em 1ch;
    // layout
    display: block;
    // typography
    font-family: $display;
    color: $offwhite;
    text-decoration: none;
    // decoration
    border-radius: 1ch;
    transition: background-color 0.15s ease-in-out;

    @media all and (min-width: 800px) {
        padding: 0.33333em 1ch;
    }

    &:hover {
        background-color: $dark-grey;
        transition: background-color 0.05s ease-in-out;
    }
}