/**
 * SIDEBAR
 *
 * Any styling that effects the blocks with the Sidebar regions should go here.
 *
 * For global styling see layout.css
 */

@import "colors";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// .grow {
//     float: left;
//     position: relative;
//     transition: height 0.5s;
//     -webkit-transition: height 0.5s;
//     text-align: center;
//     overflow: hidden;
//     max-height: 40px;
//   }
//   .grow:hover {
//     max-height: 60%;
//   }

.region-sidebar {
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    padding: 20px;
}
/* The button used to open the sidebar */
.openbtn {
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.expand {
    flex-grow: 4;
    .view-content {
        text-align: center;
    }
}

.shrink {
    flex: 1 0px;
    .all-blocks{
        font-size: 10px;
    }
    .view-content {
        text-align: justify;
    }
}



.form--inline{
    text-align: center;
}