/**
 * LAYOUT
 *
 * This is the global styling for the whole site.
 * Here is where you put anything that effects all the blocks that hold the content.
 * Example: Global grid layout for the whole site.
 * DO NOT add CSS the only effects a specific page, region, or block
 */

@import "colors";
@import 'fonts';


.global-container {
    display: flex;
    min-height: 100vh;
    flex-flow: row wrap;
    text-align: center;
    border-left: 2px solid $dark-grey;
    border-right: 2px solid $dark-grey;
    background-color: $offwhite;
}

.global-container > * {
    margin: 0;
    padding: 0;
    flex: 1 100%;
}

.region-header {
    background-color: $dark-grey;
    max-width: 100vw;

    margin: 0;
    padding: 0;
}

.region-navbar{
    background-color: $grey;
    border-bottom: 2px solid $dark-grey;
    .menu {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        text-align: center;
        .menu-item{
            a { 
                text-decoration: none;            
                padding: 0.2rem 2rem;
                border: 2px solid black;
                background: $turquoise;
                color: black;
             }
        }
    }
}

/**
 TODO:
 Hide the sidebar unless on an article page.
*/
// .region-sidebar{
//     background-color: $mid-grey;
// }

.region-content{
    background-color: white;
}

.region-footer {
    background-color: $dark-grey;
}

/**
 TODO: 
 Configure Responsive font sizes.
*/
@media all and (min-width: 600px) {
    //.global-container { margin-left: 4%; margin-right: 4%; }
    .region-navbar { 
        .menu{
            justify-content: space-around;
            .menu-item{
                a {          
                    padding: 0.5rem 2rem;
                 }
            }
        } 
    }
    // .region-sidebar{
    //     flex: 1 auto;
    //     width: 2%;
    //     border-right: 2px dashed black;
    // }
}

@media all and (min-width: 800px) {
    //.global-container { margin-left: 15%; margin-right: 15%; }
    .region-navbar { 
        .menu { 
            justify-content: space-around; 
            flex-flow: row-reverse; 
            .menu-item{
                a {          
                    padding: 0.7rem 5rem;
                 }
            }
        } 
    }
    .region-content { 
        .node__content {
            text-align: justify;
            font-size: 24px;
        }
        flex: 4 0px; 
        min-height: 90vh; 
        margin-left: 25%;
        margin-right: 25%;
    }
    // .region-sidebar { order: 1; }
    .region-content { order: 1; }
    .region-footer { order: 2; }

}
